header{
    color: #d26c22;
    background-color: #353432;
}

p{
    margin: auto;
}

.main-content{
    background-color: #E8E8E8;
    height: 100%;
}

.update-box, .add-city-box{
    background-color: #767676;
    padding: .5rem;
}

.update-box, .add-city-box, .city-name{
    text-align: center;
    margin: auto;
}

.update-text, .add-city-text{
    color: white;
}

.add-city-text{
    font-weight: bold;
    color: #3adb76;
}

ul{
    list-style: none;
}

.weather-widget{
    padding-top: 0;
    margin: 2.2rem;
    background-color: #505050;
    width: 18rem;
    display: inline-block;
}

.city-logo{
    background-size: cover;
    margin-top: 0;
    background-color: cadetblue;
    height: 10rem;
}

.city-name{
    font-family: Roboto,sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    line-height: 10rem;
}

.weather-info{
    padding: 1rem;
    text-align: left;
}

.weather-info{
    font-family: Roboto,sans-serif;
    color: white;
}